@{
    Layout = null;
}
<div id="sizeEditTemplate" data-role="template">
    <span>Size:</span>
    <input type="text" style="width: 150px; margin-left: 5px;" data-bind="{this.value,to=Size,mode=TwoWay}" />
</div>

<!--Grid details product template-->
<div id="productDetailsTemplate" style="width: 100%; margin: 0px;" data-role="template">
    <div data-name="tabs" style="margin: 5px; padding: 5px; width: 95%;" data-bind="{this.tabsEventCommand,to=tabsEventCommand,source=VM.productVM}"  data-view="name='tabs'">
        <div id="myTabs">
            <ul>
                <li><a href="#a">Tab 1</a></li>
                <li><a href="#b">Tab 2</a></li>
            </ul>
            <div id="a">
                <span>Product Name: </span>
                <input type="text" style="color: Green; width: 220px; margin: 5px;" data-bind="{this.value,to=Name,mode=TwoWay}" />
                <br />
                <a class="btn btn-info btn-small" data-bind="{this.command,to=testInvokeCommand,source=VM.productVM}{this.commandParam}"
                    data-view="options={tip='Invokes method on the server and displays result'}">Click Me to invoke service method</a>
            </div>
            <div id="b">
                <img style="float:left" data-bind="{this.id,to=ProductID}{this.fileName,to=ThumbnailPhotoFileName}" alt="Product Image" src="" data-view="name=fileImage,options={baseUri:'@Url.RouteUrl("Default", new { controller = "Download", action = "ThumbnailDownload" })'}"/><br />
                <div style="float: left; margin-left: 8px;">
                    click to download the image: <a class="btn btn-info btn-small" data-bind="{this.text,to=ThumbnailPhotoFileName}{this.id,to=ProductID}" data-view="name=fileLink,options={baseUri:'@Url.RouteUrl("Default", new { controller = "Download", action = "ThumbnailDownload" })'}">
                    </a>
                </div>
                <div style="clear: both; padding: 5px 0px 5px 0px;">
                    <!--bind commandParameter to current datacontext, that is product entity-->
                    <a class="btn btn-info btn-small" data-name="upload" data-bind="{this.command,to=dialogCommand,source=VM.uploadVM}{this.commandParam}"
                        data-view="options={tip='click me to upload product thumbnail photo'}">Upload product thumbnail</a>
                </div>
            </div>
        </div>
        <!--myTabs-->
    </div>
</div>
<!--upload thumbnail dialog template-->
<div id="uploadTemplate" style="margin:5px;" data-role="template" data-bind="{this.command,to=templateCommand,source=VM.uploadVM}"  data-view="name=template">
    <!--dummy form action to satisfy HTML5 specification-->
    <form data-name="uploadForm" action='#'>
    <div data-name="uploadBlock">
        <input data-name="files-to-upload" type="file" style="visibility: hidden;" />
        <div class="input-append">
            <input data-name="files-input" class="span4" type="text">
            <a data-name="btn-input" class="btn btn-info btn-small"><i class="icon-folder-open">
            </i></a><a data-name="btn-load" class="btn btn-info btn-small" data-bind="{this.command,to=uploadCommand}"
                data-view="options={tip='Click to upload a file'}">Upload</a>
        </div>
        <span>File info:</span><text>&nbsp;</text><div style="display: inline-block" data-bind="{this.html,to=fileInfo}">
        </div>
        <div data-name="progressDiv">
            <progress data-name="progressBar" class="span4" value="0" max="100">
            </progress><span data-name="percentageCalc"></span>
        </div>
    </div>
    </form>
</div>

<!--test service invoke method result display-->
<div id="invokeResultTemplate" data-role="template">
    <div style="width: 100%; height: 100%; background-color: White; color: Blue;">
        <div style="display: inline-block" data-bind="{this.html,to=invokeResult}">
        </div>
    </div>
</div>

@*
<div id="productEditTemplate"  data-role="template" style="width: 95%; margin:4px; font-size: 12px;" data-bind="{this.dataContext,mode=OneWay}"
    data-view="name=dataform">
    <table style="width: 95%">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Значение
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    <span data-content="fieldName:ProductID"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <span data-content="fieldName:Name,css:{displayCss:'name-display',editCss:'name-edit'},multyline:{rows:3,cols:20,wrap:hard}">
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    ProductNumber:
                </td>
                <td>
                    <span data-content="fieldName:ProductNumber"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Color:
                </td>
                <td>
                    <span data-content="fieldName:Color"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Cost:
                </td>
                <td>
                    <span data-content="fieldName:StandardCost"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <span data-content="fieldName:ListPrice"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Size:
                </td>
                <td>
                    <span data-content="fieldName:Size"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Weight:
                </td>
                <td>
                    <span data-content="fieldName:Weight"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Category:
                </td>
                <td>
                    <span data-content="fieldName=ProductCategoryID,lookup:{dataSource=dbContext.dbSets.ProductCategory,valuePath=ProductCategoryID,textPath=Name},css:{editCss:'listbox-edit'}">
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    Model:
                </td>
                <td>
                    <span data-content="fieldName=ProductModelID,lookup:{dataSource=dbContext.dbSets.ProductModel,valuePath=ProductModelID,textPath=Name},css:{editCss:'listbox-edit'}">
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    SellStartDate:
                </td>
                <td>
                    <span data-content="fieldName:SellStartDate"></span>
                </td>
            </tr>
            <tr>
                <td>
                    SellEndDate:
                </td>
                <td>
                    <span data-content="fieldName:SellEndDate"></span>
                </td>
            </tr>
            <tr>
                <td>
                    DiscontinuedDate:
                </td>
                <td>
                    <span data-content="fieldName:DiscontinuedDate"></span>
                </td>
            </tr>
            <tr>
                <td>
                    rowguid:
                </td>
                <td>
                    <span data-content="fieldName:rowguid"></span>
                </td>
            </tr>
            <tr>
                <td>
                    When Modified:
                </td>
                <td>
                    <span data-content="fieldName=ModifiedDate"></span>
                </td>
            </tr>
            <tr>
                <td>
                    IsActive:
                </td>
                <td>
                    <span data-content="fieldName=IsActive"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
*@
